.navbar{
  background-color: grey;
  /* display: flex; */
  height: 200px;
  padding-top: 0%;
  margin-top: 0%;

}

.navbar-name{
  font-family:cursive;
  font-size: 30px;
  padding-left: 10px;
  padding-top: 25px;
  display: flex;
  
  color:rgb(186, 185, 185)

}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  padding-left: 500px;
  color:rgb(186, 185, 185);

}